<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Palawan School: Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    </head>
    <body>
        <div class="navbar-container">
            <nav>
                <a href="/">Home</a>
                <a href="/about" class="active">About Marvin School</a>
                <a href="#services">Services</a>
                <a href="#contact">Contact</a>
                <a href="javascript:void(0);" class="icon" onclick="navfunc()">
                    &#9776;
                </a>
            </nav>
        </div>

        <p>This is home!</p>

        <script type="text/javascript" src="{% static '/js/script.js' %}"></script>
    </body>
</html>